@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  
}
body{
    background-color: aliceblue;
}
.bdyclr{
    background-color: aliceblue;

    /* background: linear-gradient(aliceblue,white); */
}
.nav-link{
    color:rgb(7, 1, 57);
}
.xyz{
    color: rgb(7, 1, 57);
    font-size: x-large;
}
.ftrtxt{
    font-size:3rem;
    font-family:sans-serif;
}
.logo{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: x-large;
    color: rgb(7, 1, 57);
font-family: 'Poppins', sans-serif;
font-weight: bolder;
}
.bgimg{
    background-image: url('/images/images/home-bg-21.jpg');
background-size:cover;
background-repeat: no-repeat;
height: 700px;
animation: colorchanger 20s linear infinite;
}
.text{
    width: 50%;
}
.textcenter{
    border-bottom: 3px solid #120975;
    color:#120975;
  position: relative;
  top: 300px;
  left: 700px;
  width: 50%;
}
.textcenter2{
    color: #2416ba;
    text-align: center;
  position: relative;
  top: 300px;
  left: 700px;
  width: 50%;
  
}
.textcenter2:after{
    font-family: 'Ubuntu', sans-serif;
  content: '';
  animation: changecontent 20s infinite linear ;
}
.imgrsz{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.imgrsz1{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.imgrsz img {
   padding: 15px;
    width: 60%;
}

.imgrsz1 img{
    
    width: 100%;
}
.abtp{
    padding-left: 0px;
    position: relative;
    top: 10px;
}
.abtp2{
    text-align: justify;
    font-size: large;
}
.abc:hover{
    background-color: rgb(17, 17, 17);
    border: 2px solid black;
    border-radius: 4px;
    margin: 3px;
    justify-items: center;
    justify-content: center;
}
.header{
    /* color: black; */
    color: rgb(7, 1, 57);
   
}
.card{
    margin: 1rem;
}
.card:hover{
    -webkit-transform: scale(1.04);
     transform: scale(1.04);
     -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
     -ms-transform: scale(1.04);
     -o-transform: scale(1.04);
     color: whitesmoke;
     transform: translateY(-0.5%);
     box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
     background-color: grey;
     cursor: pointer;
}
.cardtext{
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem;
}
.advimg img{
    width: 50%;
    border-radius: 300px;
}
.offercard{
    /* background-color: rgb(255, 255, 255); */
    border: 2px solid black;
    border-radius: 4px;
    margin: 3px;
    justify-items: center;
    justify-content: center;
}
.offercard:hover{
     -webkit-transform: scale(1.04);
     transform: scale(1.04);
     -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
     -ms-transform: scale(1.04);
     -o-transform: scale(1.04);
     color: rgb(255, 255, 255);
     transform: translateY(-0.5%);
     box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
     background-color: rgb(124, 158, 245);
     cursor: pointer;
 
}
.cardimg{
    
    width: 100%;
}
.abc{
    background-color: rgb(7, 1, 57);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    color: white;
}

.cardblock{
    position: relative;
    top: -15px;
    left: 110px;
    background-color: rgb(7, 1, 57);
    border-radius:10px ;
    width: 50%;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.blogclr{
  background-color: white;
}

.blogtext{
    padding: 15px;
    text-align: justify;
    margin: 10px;
}
.card-body:hover {
    cursor: pointer;
   
    /* -webkit-transform: scale(1.04); */
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    color: whitesmoke;
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
    background-color: slategrey;
    cursor: pointer;
}
.bgimg2{
    background-image: url('/images/images/footer-bg.jpg');
}


.bdybg {
    background: rgba(0, 0, 0, 0.5) url('/images/images/home-bg-1.jpg');
    /* background-blend-mode: darken; */
    background-size: 100% 100%;
    height: 800px;
    
}

@keyframes colorchanger {
    0% {
       background-image: url('/images/images/home-bg-1.jpg');
    }

    25% {
        background-image: url('/images/images/home-bg-1.jpg');
    }

    30% {
        background-image: url('/images/images/home-bg-21.jpg');
    }

    55% {
        background-image: url('/images/images/home-bg-21.jpg');
    }

    60% {
        background-image: url('/images/images/home-bg-3.jpg');
    }

    98% {
        background-image: url('/images/images/home-bg-3.jpg');
    }


}

.ftr {
    /* background-color: #051D40; */
    background-image: url(/images/navbar2.png);
    background-size: 100% 100%;
    animation: changeeffect 10s linear infinite;

}

@keyframes changeeffect {
    0% {
        background-image: url('/images/navbar2.png')
    }

    25% {
        background-image: url('/images/navbar2.png')
    }

    30% {
        background-image: url('/images/navbar3.png');
        /* color: #023176; */

    }

    55% {
        background-image: url('/images/navbar3.png')
    }

    60% {
        background-image: url('/images/navbar.png')
    }

    98% {
        background-image: url('/images/navbar.png')
    }

}

.nav-item a:hover {
    color: grey;
    cursor: pointer;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

.resizer img {
    margin-top: 5px;
    width: 600px;
    height: 300px;
}

.tyy a {
    text-decoration: none;
}

.bgimgmandu {

    background: rgba(0, 0, 0, 0.7) url('/images/mandubg.jpg');
    background-blend-mode: darken;
    background-size: cover;

}

.bgimgdharmshala {
    background: rgba(0, 0, 0, 0.7) url('/images/dhrmshlbg.jpg');
    background-blend-mode: darken;
    background-size: 100% 100%;
}

.bgimgsou {
    background: rgba(0, 0, 0, 0.7) url('/images/soubg.jpg');
    background-blend-mode: darken;
    background-size: 100% 100%;
}

.bgimgzanskar {
    background-image: url('/images/zanskarbg.jpg');

    background-size: 100% 100%;
}

.bgimgmaheshwar {
    background: rgba(0, 0, 0, 0.7) url('/images/maheshwarbg.jpg');
    background-blend-mode: darken;
    background-size: 100% 100%;

}

.navbar-brand  {
    /* font-family: 'Ubuntu', sans-serif; */
     font-family: 'Lora',serif ; 
    

    
}
.txtmdy{
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 900; */
    text-align:justify ;

}
.dp {
    /* width: 20px; */
    height: 100px;
}

.mdfy {
    font-family: 'Open Sans', sans-serif;
}

.bgcst {
    
    background-color: black;
}
.txtmdy2{
    color: rgb(53, 126, 105);
    font-family: 'Lora', serif;
    position: relative;
    top: 250px;
   /* left: 450px; */
    border-bottom: 4px solid white;
    
}
.txtmdy3{
    color: black;
    position: relative;
    top: 255px;
    /* left: 450px; */
    /* font-size: 500px; */
    
}


.ftst{
    position: relative;
    font-family: 'Lora',serif ; 
}
.txtmdy4{
    font-family: 'Lora',serif ;
}
.bg{
background-color: white;
justify-content: center;
}
.txtmdy3:after{
    font-family: 'Ubuntu', sans-serif;
 content: '';
 /* animation: changecontent 20s infinite linear ; */
}
@keyframes changecontent {
    0% {
       
        content: "GET SET GO & TRAVEL"
     }
 
     20% {
         
         content: "GET SET GO & TRAVEL";
     }
 
     30% {
         content: "ALL THE INFORMATION ON YOUR FINGERTIPS";
     }
 
     50% {
         content: "ALL THE INFORMATION ON YOUR FINGERTIPS";
     }
 
     60% {
         content: "GET VIRTUAL TOURS";
     }
 
     99% {
         content: "GET VIRTUAL TOURS";
     }
}
@media screen and (max-width:480px){
    .bdybg{
        width: 100%;
        height: 350px;
    }
    .txtmdy2{
         top: 160px;
    }
    .txtmdy3{
        top:163px
    }
    .ftr{
        width: 100%;
        height:60px;
    }
    .ftst{
        padding-top: 0px;
        top:0px;
        font-size: xx-small;
    }
    .textcenter{
        font-size: smaller;
     position: relative;
     top: 150px;
     left: 50px;
     }
     .textcenter2{
         font-size: smaller;
         position: relative;
         top: 180px;
         left: 50px;
     }
     .bgimg{
         height: 400px;
         width: 100%;
     }
}
/* owl */
#team {
	padding: 30px 0;
}
.sec-heading h6 {
	font-family: 'Allura', cursive;
	font-size: 65px;
}
.single-box {
	border: 1px solid #ddd;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
    /* box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5); */
	background-color: rgba(237, 237, 254, 0.564);
}

.info-area {
	padding: 0 20px 45px;
}
.img-area {
    
	overflow: hidden;
	padding: 15px 0 15px;
}
.img-area img {
    
	margin: 0 auto;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 230px
}
.single-box:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.info-area i {
	display: inline-block;
	color: #120975;
	margin: 0 4px;
}
.info-area h4 {
	font-weight: 600
}
.info-area h5 {
	color: #3b04db;
	margin: 10px 0 0;
	font-weight: 600
}
.info-area a {
	display: inline-block;
	margin: 25px 0 0;
	background-color: rgb(70, 66, 126);
	color: rgb(255, 255, 255);
	padding: 10px 35px;
	border-radius: 4px;
}
.team-slider .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.team-slider button.owl-dot {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
	background-color: #262626;
}
.team-slider .owl-dot.active {
	background-color: blue;
}
.move-animation {
	position: relative;
	-webkit-animation: move-animation 2s ease-in-out infinite;
	animation: move-animation 2s ease-in-out infinite;
}
@-webkit-keyframes move-animation {
	0% {
		top: 3px;
	}
	50% {
		top: -3px;
	}
	100% {
		top: 3px;
	}
}

/* owl end */


